#dashboard-left {
  background-color: #2a4054;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  max-width: 20%;

  button {
    background-color: #ee555d;
    color: white;

    i::before {
      margin-right: 10px;
    }
  }
  .btn-option:hover {
    color: $col-w;
    background: $bnb1;
    // border: 0.5px solid $col-w;

    a, i::before {
      color: $col-w;
    }
  }

  .btn-left:hover {
    color: $bnb1;
    background: $col-w;
    // border: 1px solid #ee555d;

    a, .fas {
      color: $bnb1;
    }
  }



  .btn-option {
    background-color: white;
    color: #ee555d;
    width: 100px;
    margin-bottom: 10px;

    .fas::before {
      color: #ee555d;
      // padding-right: 5px;
    }
    a {
      color: #ee555d;
    }

  }

  hr {
    border: 1px solid #ee555d;
  }

  .user-img {
    margin-top: 20px;
    margin: auto;
    border: 1px solid #ee555d;
    height: 70px;
    width: 70px;
    border-radius: 40px;
  }
}



#dashboard-right {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow-y: scroll;

  h4 {
    color: grey;
    font-weight: 700;
    font-size: 30px;
  }

  input {
    color: #ee555d;
  }

  hr {
    border: 1px solid #ee555d;
  }

  button {

    input.btn-form {
      background: transparent;
      color: $col-w;
      border: none;
      padding: 0;
    }

    input.btn-form:hover {
      background: $col-w;
      color: $bnb1;
    }
  }

  .btn:hover {
    color: $bnb1;
    background: $col-w;
    border: 1px solid #ee555d;

    a {
      color: $bnb1;
    }
  }

  .dashboard-title {

    button {
      background-color: #ee555d;
      color: white;

      i::before {
        margin-right: 10px;
      }
    }
  }

  .card-apartment {
    // border: 0.4px solid $bnb1 !important;
    box-shadow: 0px 0px 28px #404040;
    border-radius: 6px;
    // border: 0.4px solid #829196;
  }
  .card-apartment:hover {
    background-color: $bnb-rgba4 !important;
    cursor: pointer;
    transition: all .1s ease-in-out;
  }



  form.search-form {

    .search-input {
      width: 350px;
      border-radius: 999px;
      border: 1px solid #f1f3f5;
      // border: 1px solid $bnb-rgba6;
      border-style: solid;
      text-align: center;
      padding: 5px;
      margin-right: 20px;
      background-color: #f1f3f5;
      box-shadow: 0px 0px 10px $bnb-rgba8;
      font-size: 18px;
    }

    input:focus {
      border: 2px solid #ee555d;
      outline: none;
      transition: all .1s ease-in-out;
      box-shadow: inset 0 1px 1px rgba(0,0,0,0.0125), 0 0 8px rgba(255, 89, 95, 0.4);
    }

    form {
      margin: 0;
      position: relative;
    }

    button {
      position: absolute;
      right: 70px;
      top: 35px;
      background: transparent;
      border: none;
    }

    button:focus {
      outline: none;
    }

    button i.fas {
      // color: #495057;
      color: $bnb1;
    }
  }

  #hr-all-apartments {
    margin-top: 2px;
  }
}
