.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
}

main.py-4 {
  height: 100vh;
}

.head-top {
  background: transparent;
  height: 80px;

  a:hover {
    text-decoration: none;
  }


  #header-logo {
    width: 50px;
  }

  .link-container:hover {
    border-bottom: 1px solid white;
  }

  #hamburger-menu-container {
    background: white;
  }
}

.back-top {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-image: url('https://a0.muscache.com/4ea/air/v2/pictures/9c53bf65-1ad1-4080-b31e-2e082de08404.jpg?t=r:w3100-h2074-sfit,e:fjpg-c80');

    nav a {
      color: #fff;
    }
    // nav a:hover {
    // border-bottom: 1px solid white;
    // }
}

#LoggedDropdown {

  a.dropdown-item {
    color: black;
  }
}

#header-logo {
  a svg {
    height: 100%;
  }
}

.btn-bnb {
  background-color: $bnb1;
  color: $col-w;
}

.col-bnb {
  color: $bnb1;
}

.form-control:focus {
  border-color: $bnb-rgba;
  box-shadow: 0 0 0 0.2rem $bnb-rgba;
}

.btn:focus, .btn.focus {
  box-shadow: 0 0 0 0.2rem $bnb-rgba;
}
.btn:hover {
  text-decoration: none;
}
.card-header {
  color: $col-w;
  background-color: $bnb1;
  border-bottom: 1px solid $bnb-rgba;
}

.card-body {
  color: $bnb1;
  border-color: $bnb1;
}
