// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#background-top{
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-image: url('https://a0.muscache.com/4ea/air/v2/pictures/9c53bf65-1ad1-4080-b31e-2e082de08404.jpg?t=r:w775-h518-sfit,e:fjpg-c80');
}

header{
  height: 80px;
  a{
    color: white;
  }

  a:hover{
    color: white;
    text-decoration: none; 
  }

  #header-logo{
    width: 50px;
  }

  .link-container:hover{
    border-bottom: 1px solid white;
  }

  #hamburger-menu-container{
    background: white;
  }
}
