//BoolBnb Colors
$bnb1: #FF595F;
$bnb-rgba: rgba(255, 89, 95, 0.25);
$bnb-rgba4: rgba(255, 89, 95, 0.4);
$bnb-rgba6: rgba(255, 89, 95, 0.6);
$bnb-rgba8: rgba(255, 89, 95, 0.8);

//Typography
$col-w: #fff;

// Regole generali

a{
  color: white;
}

a:hover{
  text-decoration: none;
  color: white;
}

.btn:hover{
  color: white;
}
